.boton {
    background-color: #EFEFEF;
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: solid #C8C8C8 .2rem;
    transition: all .5s;
    width: 100px;
    background: #EDA135;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.botonmenu {
    background-color: #EFEFEF;
    padding: .5rem;
    margin: .5rem 0;
    border-bottom: solid #C8C8C8 .2rem;
    transition: all .5s;
    width: 100px;
    background: rgb(71, 53, 237);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.botonform {
    background-color: #EFEFEF;
    padding: .5rem;
    margin: .5rem 0;
    border-bottom: solid #C8C8C8 .2rem;
    transition: all .5s;
    width: 100px;
    background: rgb(53, 237, 114);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.textolog {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}